modules = ["python-3.12"]
run = "pip install -r requirements.txt && python index.py"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python index.py"]
